<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pariveda Name Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex,nofollow"/>

    <!-- Cannot add Bootstrap CSS to packaged file, because it references images -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="nameGameApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->


<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavigationCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Name Game <span
                    class="label label-default">{{currentPlayerName}}</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="getClass('/games')" ng-show="currentPlayerName"><a href="#/games"><span
                        class="glyphicon glyphicon-th-large"></span> Games</a></li>
                <!--
                <li ng-class="getClass('/play')">
                    <a href="#/play">
                        <span class="glyphicon glyphicon-play" ng-hide="currentPlayerName"> </span>
                        <span class="glyphicon glyphicon-user" ng-show="currentPlayerName"> </span>
                        {{ currentPlayerName ? 'Change Player' : 'Play' }}
                    </a>
                </li>
                -->
                <li ng-show="currentPlayerName"><a href="" ng-click="logOut()"><span
                        class="glyphicon glyphicon-log-out"></span> Quit</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>


<div class="container" ng-view=""></div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js scripts/modules.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<!-- endbuild -->

<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="//cdn.firebase.com/v0/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
<script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
<script src='https://login.persona.org/include.js'></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/navigation.js"></script>
<script src="scripts/controllers/play.js"></script>
<script src="scripts/controllers/games.js"></script>
<script src="scripts/controllers/game.js"></script>
<script src="scripts/controllers/new.js"></script>
<!-- endbuild -->
</body>
</html>
