<div ng-controller="GameCtrl">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/games">Games</a></li>
        <li class="active">{{game.name}} ({{ game.category }})</li>
    </ol>

    <div class="page-header">
        <h1>{{game.name}}
            <small>{{game.category}}</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div ng-show="game.archived" class="alert alert-danger">
                <strong>Oh snap!</strong>
                This game has been closed.
            </div>
            <div ng-hide="game.archived">
                <div ng-show="game.players.indexOf(playerName) < 0">
                    You are currently only viewing this game.
                    <button type="button" class="btn btn-success btn-sm" ng-click="joinGame()">
                        <span class="glyphicon glyphicon-play"></span> Play
                    </button>
                </div>
                <div ng-hide="game.currentTurn == playerName">
                    <h4>Up to the plate</h4> {{game.currentTurn}}

                    <h2>{{game.response}}</h2>
                </div>
                <div ng-show="game.currentTurn == playerName">
                    <h4>Your Turn</h4>

                    <form ng-submit="respond()" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="respond here" ng-model="game.response"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span> Submit
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="surrender()"
                                    ng-hide="game.players.length == 1">
                                <span class="glyphicon glyphicon-flag"></span> Surrender
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="closeGame()"
                                    ng-show="game.players.length == 1">
                                <span class="glyphicon glyphicon-remove"></span> Leave & Close Game
                            </button>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Players</h4>
            <table class="table">
                <tr ng-repeat="player in game.players" class="player {{game.currentTurn == player ? 'active' : ''}}">
                    <td>
                        {{ player }}
                        <br/>
                        <span ng-show="player == playerName" class="label label-danger">You</span>
                        <span ng-show="game.currentTurn == player" class="label label-info">Up to the plate</span>
                        <span ng-show="game.currentTurn == game.players[$index - 1]" class="label label-default">On deck</span>
                    </td>
                    <td>
                        <button type="button" ng-click="boot()" class="btn btn-danger"
                                ng-hide="game.players.indexOf(playerName) < 0 || player != game.currentTurn || player == playerName">
                            <span class="glyphicon glyphicon-trash"></span> Boot
                        </button>
                    </td>
                </tr>
            </table>
            <hr/>

            <h4>Previous Play</h4>
            <div>
                <span class="label label-default">{{ game.lastTurn }}</span>
                <blockquote ng-show="game.lastPhrase">
                    {{ game.lastPhrase }}
                </blockquote>
                <div ng-hide="game.lastPhrase">No plays yet...</div>
            </div>

            <!-- DEMO -->
            <!--<table class="table">
                <tr ng-repeat="(key,play) in game.plays | orderBy:'key':true" ng-class="{success: $index == game.plays.length - 1}">
                    <td>{{ play.phrase }}</td>
                    <td><span class="label label-default">{{ play.player }}</span></td>
                </tr>
            </table>-->
            <!-- /DEMO -->
        </div>
    </div>
</div>
