<div ng-controller="GamesCtrl">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Games</li>
    </ol>

    <div class="page-header">
        <h1>Games</h1>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div ng-show="noActiveGames()" class="alert alert-info">
                <strong>Darn!</strong> There are no games currently open. Why don't you start a new one?
            </div>
            <div class="list-group">
                <a ng-repeat="(gameId, game) in activeGames()" href="" ng-click="enterGame(gameId)"
                   class="list-group-item">
                    <div>
                        <h3>{{game.name}}</h3>
                        <span class="label label-default">{{game.category}}</span>
                        <span class="label {{playerName == game.currentTurn ? 'label-success' : 'label-primary'}}">{{game.currentTurn}}</span>
                    </div>
                </a>
            </div>
            <button type="button" class="btn btn-primary" ng-click="startNewGame()">
                <span class="glyphicon glyphicon-plus"></span> Start New Game
            </button>
        </div>
    </div>
</div>