<div class="jumbotron">
	<h1>Welcome</h1>
	<p class="lead">to the Pariveda Name Game</p>
	<p><a class="btn btn-lg btn-success" href="{{ playerName ? '#/games' : '#/play' }}">Play!</a></p>
</div>
<p class="lead">
    Played in elementary school classrooms and road-tripping minivans across the United States, Name Game is a simple
    spelling game derived from words in a particular topic. 
</p>
<p class="lead">
	Players choose a topic and the first player chooses and
    types a word or phrase. Following in suite, the second player says a word or phrase that begins with the last letter
    of the previous player’s play. Play continues in a circle with all players in the game until all but one player has
    surrendered!
</p>
