<div ng-controller="NewCtrl">


	<ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/games">Games</a></li>
		<li class="active">New Game</li>
	</ol>

	<div class="page-header">
		<h1>New Game <small>{{playerName}}</small></h1>
	</div>

    <form ng-submit="create()" role="form">
		<div class="form-group">
			<label>Category</label>
			<div class="radio">
				<label>
					<input type="radio" ng-model="category" value="Famous Actors"/>Famous Actors
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="category" value="Countries"/>Countries
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="category" value="Song Titles"/>Song Titles
				</label>
			</div>
			
		</div>
		<div class="form-group">
			<input type="text" placeholder="Name your new game..." ng-model="name"
				class="form-control"/>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-fire"></span> Fire it up!
			</button>
		</div>
    </form>
</div>
