<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Login</li>
</ol>

<div class="page-header">
    <h1>Login
        <small></small>
    </h1>
</div>

<div class="row">
    <div ng-controller="PlayCtrl" class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary" ng-click="login('facebook')">
            <span class="glyphicon glyphicon-play"></span>
            Login with Facebook
        </button>
        <a href="{{playerName ? '#/games' : '#/'}}" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </a>
    </div>
</div>